B8S0JQ_0922/orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT orarend (ora, targy, idopont, nap, tol, ig, helyszin, oktato, szak)>
<!ELEMENT ora(targy)>
<!ELEMENT targy(#PCDATA)>
<!ELEMENT idopont(nap,tol,ig)>
<!ELEMENT nap(#PCDATA)>
<!ELEMENT tol(#PCDATA)>
<!ELEMENT ig(#PCDATA)>
<!ELEMENT helyszin(#PCDATA)>
<!ELEMENT oktato(#PCDATA)>
<!ELEMENT szak(#PCDATA)>