XMLFeladatB8S0JQ/XMLSchemaB8S0JQ.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Adatbazis">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="Olvaso" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Olvasojegy"/>
              <xs:element type="xs:string" name="Nev"/>
              <xs:element name="Cim">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="Irsz"/>
                    <xs:element type="xs:string" name="Varos"/>
                    <xs:element type="xs:string" name="Utca"/>
                    <xs:element type="xs:int" name="Hazsz"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Konyvtar" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ISBN"/>
              <xs:element type="xs:byte" name="Mennyiseg"/>
              <xs:element type="xs:string" name="Konyvtar_neve"/>
              <xs:element type="xs:string" name="Reszleg"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Konyvek" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ISBN"/>
              <xs:element type="xs:string" name="KCim"/>
              <xs:element type="xs:string" name="Szerzo"/>
              <xs:element type="xs:short" name="KiadoID"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Kiad" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="Kiadas_datuma"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Kiadok">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Nev"/>
              <xs:element type="xs:short" name="KiadoID"/>
              <xs:element name="KCim">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="KIrsz"/>
                    <xs:element type="xs:string" name="KVaros"/>
                    <xs:element type="xs:string" name="KUtca"/>
                    <xs:element type="xs:int" name="KHazsz"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>